<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
        <mat-icon>home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Aplikacija </mat-panel-title>
          <mat-panel-description>
            Aplikacija za vodjenje evidencije ...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button routerLink="/banka">Banka</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button routerLink="/korisnik_usluge">Korisnik usluge</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button routerLink="/filijala">Filijala</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="text-align: left">Informacije</mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button>O nama</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button>Autor</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button>Pocetna</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <!-- Add the mat-sidenav-content here -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
